# github.com/mew-cx/CircuitPython_dust_wx_station/.gitconfig
# Author: Mike Weiblen <mew@mew.cx>
# Tweaks for this repo to work across platforms

[core]
	# on Windows, ignore execute permissions
	fileMode = false

[safe]
	# Windows: ignore repo ownership
	directory = *

# vim: set noet ic ai:

